*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:white;
  }
  ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcf8f7;
  }
  
  li {
    float: left
    ;
  }
  
  li>a, .dropbtn {
    display: inline-block;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(247, 250, 247);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(9, 9, 9);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #da680b;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  